{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            
            <div class="form-group">
                {{ form.student_name.label(class="form-control-label") }}
                {% if form.student_name.errors %}
                    {{ form.student_name(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.student_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.student_name(class="form-control form-control-md") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.father_name.label(class="form-control-label") }}
                {% if form.father_name.errors %}
                    {{ form.father_name(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.father_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.father_name(class="form-control form-control-md") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.contact_number.label(class="form-control-label") }}
                {% if form.contact_number.errors %}
                    {{ form.contact_number(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.contact_number.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.contact_number(class="form-control form-control-md") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.course_name.label(class="form-control-label") }}
                {% if form.course_name.errors %}
                    {{ form.course_name(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.course_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.course_name(class="form-control form-control-md") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.total_fees.label(class="form-control-label") }}
                {% if form.total_fees.errors %}
                    {{ form.total_fees(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.total_fees.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.total_fees(class="form-control form-control-md") }}
                {% endif %}
            </div>


        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}